<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>l

    <script src = "/wcsGame/enchant.js"></script>
    <script src = "/wcsGame/wcs.js"></script>



    <script src = "/wcsGame/playerManager.js"></script>
    <script src = "/wcsGame/keyboardManager.js"></script>



    <script src = "/wcsGame/walls.js"></script>
    <script src = "/wcsGame/firstRobot.js"></script>
    <script src = "/wcsGame/ramFire.js"></script>
    <script src = "/wcsGame/spin.js"></script>
    <script src = "/wcsGame/corners.js"></script>
    <script src = "/wcsGame/crazy.js"></script>
    <script src = "/wcsGame/fire.js"></script>
    <script src = "/wcsGame/firstJunior.js"></script>



</head>
<body>
<h1>Test</h1>

<textarea  name="textarea" rows="10" cols="50" id= "player1">  <%= rows[0].codecontent%>
</textarea>
<% if(keyBoard=="false"){ %>
<textarea  name="textarea" rows="10" cols="50" id="player2"  >  <%= rows[1].codecontent%>
</textarea>
<% }%>

<script>
    console.log("<%= keyBoard %>" == "false");
    var player1, player2;

    (function run2(){


        <% if(keyBoard == "true") {%>

            var elm2 = $("#player1").val();

            player2 = document.createElement("script");
            player2.id = "<%= rows[0].codename%>"
            player2.text = elm2;
            document.body.appendChild(player2);
         <%}else{%>

            var elm1 = $("#player1").val();
            var elm2 = $("#player2").val();


            player1 = document.createElement("script");
            player1.id = "<%= rows[0].codename%>"
            player1.text = elm1;
            document.body.appendChild(player1);

            player2 = document.createElement("script");
            player2.id = "<%= rows[1].codename%>"
            player2.text = elm2;
            document.body.appendChild(player2);
       <%}%>


    })();




    window.onload = function () {


        (function() {

            var game,
                    scene,
                    imgBasic,
                    TestPlayer,
                    KeyboardPlayer,
                    GamePlayer;

            game = WCS.game = new Core(16 * 45 , 16 * 23+20);
            scene = WCS.scene = game.rootScene;
            imgBasic = WCS.image.basic.imageArray;
            GamePlayer = WCS.namespace("class.player");





            // 게임 설정
            game.fps = 100;

            game.keybind(32, 'space');
            game.keybind(65, 'a');
            game.keybind(68, 'd');



            game.preload(WCS.image.basic.imageArray);

            game.onload = function () {


                // 배경화면 설정

                var backGround = WCS.back = new Sprite(16 * 45 , 16 * 23+20);

                backGround.backgroundColor = "pink";
                scene.addChild(backGround);

                var map =WCS.map= new Map(16, 16);
                map.image = game.assets[imgBasic[8]];
                map.loadData([
                    [140,141,142, 83, 83, 83, 83,140,141,142, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83,140,141,142, 83, 83, 83, 83, 83, 83, 83,140,141,142, 83, 83, 83, 83, 83, 80, 82, 83, 83, 83],
                    [ 83,184,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,186, 83, 24, 25, 25, 25, 25, 25, 25, 25, 26, 83],
                    [ 83,204,166,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,205,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,206,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,204,206, 83, 44, 45, 45, 45, 45, 45, 45, 45, 46, 83],
                    [ 83,204,164,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,185,165,206, 83, 40, 45, 45, 45, 45, 45, 45, 45, 42, 83],
                    [ 83,224,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,225,226, 83, 64, 65, 65, 65, 65, 65, 65, 65, 66, 83],
                    [ 83,120,121,122,120,101,102, 83, 83, 83, 83, 83, 83,100,101,102, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83,140,141,142, 83, 83, 83, 83, 83, 83, 83, 83, 80, 81, 82, 83, 83, 83]
                ],[
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,461,462, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,322,421,421,421,322,322,322,322,322,421,421,421,322,322,322,322,322,322,322,481,482, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,421,421,421,421,421,322,322,322,421,421,421,421,421,322,322,322,322,322,322,322,322, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,421,421,421,421,421,421,421,322,421,421,421,421,421,421,421,322,322,322,322,322,322,322, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,421,421,421,421,421,421,421,421,421,421,421,421,421,421,421,322,322,322,322,322,322,322, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,421,421,421,421,421,421,421,421,421,421,421,421,421,421,421,322,322,322,322,322,322,322, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,421,421,421,421,421,421,421,421,421,421,421,421,421,322,322,322,322,322,322,322,322, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,322,421,421,421,421,421,421,421,421,421,421,421,322,322,322,322,322,322,322,322,322, -1, -1, -1,421,421,421,421,421,421,421,421,421, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,322,322,421,421,421,421,421,421,421,421,421,322,322,322,322,322,322,322,322,322,322, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,322,322,322,421,421,421,421,421,421,421,322,322,322,322,322,322,322,322,322,322,322, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,322,322,322,322,421,421,421,421,421,322,322,322,322,322,322,322,322,322,322,322,322, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,322,322,322,322,322,421,421,421,322,322,322,322,322,322,322,322,322,322,421,421,322, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,322,322,322,322,322,322,421,322,322,322,322,322,322,322,322,322,322,421,421,421,421, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,421,421,322, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
                ]);
                map.collisionData = [
                    [  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
                    [  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
                ];

                var foregroundMap = new Map(16, 16);
                foregroundMap.image = game.assets[imgBasic[8]];
                foregroundMap.loadData([
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                    [ -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
                ]);


                game.rootScene.addChild(map);



                WCS.mapHeight = 416;
                WCS.mapWidth = 208;

                backGround.emit("start");

                console.log(player1);



                <%if(keyBoard == "true"){%>

                    var p1 = new keyboardPlayer();
                    //var p1 = new keyboardPlayer();
                    console.log("@#@#@##################@#@#@#@#@#<%= rows[0].codename%>");
                    var p2 = new Player(<%= rows[0].codename%>);
                    //var p3 = new keyboardPlayer;

                    //p1.setEnemy(p3.player);
                    //p2.setEnemy(p1.player);
                    p1.setEnemy(p2.player);
                    p2.setEnemy(p1.player);

                        p1.hp <= 0 || p2.hp
               <% } else{%>

                    var p1 = new Player(<%= rows[0].codename%>);
                    //var p1 = new keyboardPlayer();
                    var p2 = new Player(<%= rows[1].codename %>);
                    //var p3 = new keyboardPlayer;

                    //p1.setEnemy(p3.player);
                    //p2.setEnemy(p1.player);
                    p1.setEnemy(p2.player);
                    p2.setEnemy(p1.player);
               <% }%>







            };




            game.start();




        }());


    };


</script>







</body>
</html>